<p>
  <strong><%= message.profile == current_user.profile ? "You" : message.profile.user_name %>:</strong> 
  <%= message.body %>
  <br>
  <small>Sent at: <%= message.created_at.in_time_zone('Bangkok').strftime("%H:%M, %d %b %Y") %></small>
</p>

